<a href="https://colab.research.google.com/github/HoganHBG/ML-for-business-with-Python/blob/master/GDP_Energy_Final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from vega_datasets import data
import seaborn as sns

In [27]:
gdp_energy = pd.read_csv('https://raw.githubusercontent.com/HoganHBG/ML-for-business-with-Python/master/Final%20project%20fuels%20consumption%20v%20GDP%20Upload.csv')

In [28]:
gdp_energy.head()

   Quarter  ...  ElectricPowerStation-Trillion BTU
0  Q1 2020  ...                           8569.950
1  Q4 2019  ...                           8716.166
2  Q3 2019  ...                          10525.260
3  Q2 2019  ...                           8801.257
4  Q1 2019  ...                           9038.771

[5 rows x 17 columns]

In [29]:
gdp_energy.shape

(77, 17)

In [30]:
y = gdp_energy['GDP US$ Billions']
y

0     21561.139
1     21747.394
2     21540.325
3     21329.877
4     21115.309
        ...
72    10788.952
73    10660.294
74    10596.294
75    10597.822
76    10472.879
Name: GDP US$ Billions, Length: 77, dtype: float64

In [31]:
X = gdp_energy[['U.S. Aviation Gasoline - MGallons', 'Gasoline  - MGallons','Diesel  - MGallons','NatGAs by Quarter -MMCF',' Electricity BWH ']]
X.head()

   U.S. Aviation Gasoline - MGallons  ...   Electricity BWH
0                            34265.8  ...         884810.483
1                            35111.1  ...         889329.889
2                            45672.0  ...        1071813.551
3                            45642.3  ...         876905.151
4                            32690.1  ...         911489.129

[5 rows x 5 columns]

In [32]:
X = sm.add_constant(X)
X.head()

   const  ...   Electricity BWH
0    1.0  ...         884810.483
1    1.0  ...         889329.889
2    1.0  ...        1071813.551
3    1.0  ...         876905.151
4    1.0  ...         911489.129

[5 rows x 6 columns]

In [33]:
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       GDP US$ Billions   R-squared:                       0.673
Model:                            OLS   Adj. R-squared:                  0.650
Method:                 Least Squares   F-statistic:                     29.29
Date:                Wed, 12 Aug 2020   Prob (F-statistic):           5.24e-16
Time:                        06:04:45   Log-Likelihood:                -687.35
No. Observations:                  77   AIC:                             1387.
Df Residuals:                      71   BIC:                             1401.
Df Model:                           5
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                              2.404e+04   9286.178      2.589      0.012    5525.487    4.26e+04
U.S. Aviation Gasoline - MGallons    -0.1458      0.024     -6.011      0.000      -0.194      -0.097
Gasoline  - MGallons                 -0.0009      0.000     -3.585      0.001      -0.001      -0.000
Diesel  - MGallons                    0.0020      0.000      5.012      0.000       0.001       0.003
NatGAs by Quarter -MMCF              -0.0017      0.000     -4.784      0.000      -0.002      -0.001
 Electricity BWH                      0.0076      0.003      2.190      0.032       0.001       0.015
==============================================================================
Omnibus:                        1.076   Durbin-Watson:                   0.604
Prob(Omnibus):                  0.584   Jarque-Bera (JB):                1.000
Skew:                          -0.088   Prob(JB):                        0.606
Kurtosis:                       2.470   Cond. No.                     1.57e+09
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.57e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

In [34]:
X = gdp_energy[['U.S. Aviation Gasoline - BTU','Gasoline By Quarter - BTU','Diesel By Quarter - BTU', 'NatGAs by Quarter - BTU',' Electricity - BTU ']]
X.head()

   U.S. Aviation Gasoline - BTU  ...   Electricity - BTU
0                    4228.39972  ...          3018973.368
1                    4332.70974  ...          3034393.581
2                    5635.92480  ...          3657027.836
3                    5632.25982  ...          2992000.375
4                    4033.95834  ...          3110000.908

[5 rows x 5 columns]

In [35]:
X = sm.add_constant(X)
X.head()

   const  ...   Electricity - BTU
0    1.0  ...          3018973.368
1    1.0  ...          3034393.581
2    1.0  ...          3657027.836
3    1.0  ...          2992000.375
4    1.0  ...          3110000.908

[5 rows x 6 columns]

In [36]:
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       GDP US$ Billions   R-squared:                       0.673
Model:                            OLS   Adj. R-squared:                  0.650
Method:                 Least Squares   F-statistic:                     29.29
Date:                Wed, 12 Aug 2020   Prob (F-statistic):           5.24e-16
Time:                        06:04:45   Log-Likelihood:                -687.35
No. Observations:                  77   AIC:                             1387.
Df Residuals:                      71   BIC:                             1401.
Df Model:                           5
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                         2.404e+04   9286.178      2.589      0.012    5525.487    4.26e+04
U.S. Aviation Gasoline - BTU    -1.1814      0.197     -6.011      0.000      -1.573      -0.790
Gasoline By Quarter - BTU       -0.0075      0.002     -3.585      0.001      -0.012      -0.003
Diesel By Quarter - BTU          0.0146      0.003      5.012      0.000       0.009       0.020
NatGAs by Quarter - BTU         -0.0016      0.000     -4.784      0.000      -0.002      -0.001
 Electricity - BTU               0.0022      0.001      2.190      0.032       0.000       0.004
==============================================================================
Omnibus:                        1.076   Durbin-Watson:                   0.604
Prob(Omnibus):                  0.584   Jarque-Bera (JB):                1.000
Skew:                          -0.088   Prob(JB):                        0.606
Kurtosis:                       2.470   Cond. No.                     2.96e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.96e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

In [38]:
X = gdp_energy[['Residential-Trillion BTU','Commercial-Trillion BTU','Industrial-Trillion BTU','Transportation-Trillion BTU','ElectricPowerStation-Trillion BTU']]
X.head()

   Residential-Trillion BTU  ...  ElectricPowerStation-Trillion BTU
0                  5968.675  ...                           8569.950
1                  5378.989  ...                           8716.166
2                  4943.206  ...                          10525.260
3                  4178.460  ...                           8801.257
4                  6709.648  ...                           9038.771

[5 rows x 5 columns]

In [39]:
X = sm.add_constant(X)
X.head()

   const  ...  ElectricPowerStation-Trillion BTU
0    1.0  ...                           8569.950
1    1.0  ...                           8716.166
2    1.0  ...                          10525.260
3    1.0  ...                           8801.257
4    1.0  ...                           9038.771

[5 rows x 6 columns]

In [40]:
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       GDP US$ Billions   R-squared:                       0.579
Model:                            OLS   Adj. R-squared:                  0.549
Method:                 Least Squares   F-statistic:                     19.50
Date:                Wed, 12 Aug 2020   Prob (F-statistic):           3.58e-12
Time:                        06:07:25   Log-Likelihood:                -697.16
No. Observations:                  77   AIC:                             1406.
Df Residuals:                      71   BIC:                             1420.
Df Model:                           5
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                             -5.407e+04   9733.363     -5.555      0.000   -7.35e+04   -3.47e+04
Residential-Trillion BTU             -7.6096      1.001     -7.601      0.000      -9.606      -5.613
Commercial-Trillion BTU              26.7339      3.223      8.296      0.000      20.308      33.159
Industrial-Trillion BTU              11.6579    180.054      0.065      0.949    -347.360     370.676
Transportation-Trillion BTU         -11.1638    179.888     -0.062      0.951    -369.849     347.522
ElectricPowerStation-Trillion BTU    -1.3659      0.389     -3.510      0.001      -2.142      -0.590
==============================================================================
Omnibus:                        4.430   Durbin-Watson:                   0.916
Prob(Omnibus):                  0.109   Jarque-Bera (JB):                4.059
Skew:                           0.562   Prob(JB):                        0.131
Kurtosis:                       3.033   Cond. No.                     6.06e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.06e+05. This might indicate that there are
strong multicollinearity or other numerical problems.