<a href="https://colab.research.google.com/github/HoganHBG/ML-for-business-with-Python/blob/master/GDP_Energy_Final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from vega_datasets import data
import seaborn as sns

In [ ]:
gdp_energy = pd.read_csv('https://raw.githubusercontent.com/HoganHBG/ML-for-business-with-Python/master/Final%20project%20fuels%20consumption%20v%20GDP%20Upload.csv')

In [ ]:
gdp_energy.head()

   Quarter  GDP US$ Billions  ...  NatGAs by Quarter - BTU   Electricity - BTU
0  Q1 2020         21561.139  ...               5883713.85          3018973.368
1  Q4 2019         21747.394  ...               5060757.45          3034393.581
2  Q3 2019         21540.325  ...               2866238.55          3657027.836
3  Q2 2019         21329.877  ...               3399044.25          2992000.375
4  Q1 2019         21115.309  ...               6481700.40          3110000.908

[5 rows x 12 columns]

In [ ]:
gdp_energy.shape

(77, 12)

In [ ]:
y = gdp_energy['GDP US$ Billions']
y

0     21561.139
1     21747.394
2     21540.325
3     21329.877
4     21115.309
        ...
72    10788.952
73    10660.294
74    10596.294
75    10597.822
76    10472.879
Name: GDP US$ Billions, Length: 77, dtype: float64

In [ ]:
X = gdp_energy[['U.S. Aviation Gasoline - MGallons', 'Gasoline  - MGallons','Diesel  - MGallons','NatGAs by Quarter -MMCF',' Electricity BWH ']]
X.head()

   U.S. Aviation Gasoline - MGallons  ...   Electricity BWH
0                            34265.8  ...         884810.483
1                            35111.1  ...         889329.889
2                            45672.0  ...        1071813.551
3                            45642.3  ...         876905.151
4                            32690.1  ...         911489.129

[5 rows x 5 columns]

In [ ]:
X = sm.add_constant(X)
X.head()

   const  ...   Electricity BWH
0    1.0  ...         884810.483
1    1.0  ...         889329.889
2    1.0  ...        1071813.551
3    1.0  ...         876905.151
4    1.0  ...         911489.129

[5 rows x 6 columns]

In [ ]:
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:       GDP US$ Billions   R-squared (uncentered):                   0.986
Model:                            OLS   Adj. R-squared (uncentered):              0.985
Method:                 Least Squares   F-statistic:                              992.8
Date:                Wed, 12 Aug 2020   Prob (F-statistic):                    6.51e-65
Time:                        00:43:27   Log-Likelihood:                         -690.82
No. Observations:                  77   AIC:                                      1392.
Df Residuals:                      72   BIC:                                      1403.
Df Model:                           5
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
U.S. Aviation Gasoline - MGallons    -0.1277      0.024     -5.294      0.000      -0.176      -0.080
Gasoline  - MGallons                 -0.0004      0.000     -2.395      0.019      -0.001   -7.03e-05
Diesel  - MGallons                    0.0020      0.000      4.847      0.000       0.001       0.003
NatGAs by Quarter -MMCF              -0.0011      0.000     -4.030      0.000      -0.002      -0.001
 Electricity BWH                      0.0114      0.003      3.471      0.001       0.005       0.018
==============================================================================
Omnibus:                        1.010   Durbin-Watson:                   0.675
Prob(Omnibus):                  0.604   Jarque-Bera (JB):                0.940
Skew:                          -0.050   Prob(JB):                        0.625
Kurtosis:                       2.468   Cond. No.                     3.93e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.93e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
X = gdp_energy[['U.S. Aviation Gasoline - BTU','Gasoline By Quarter - BTU','Diesel By Quarter - BTU', 'NatGAs by Quarter - BTU',' Electricity - BTU ']]
X.head()

   U.S. Aviation Gasoline - BTU  ...   Electricity - BTU
0                    4228.39972  ...          3018973.368
1                    4332.70974  ...          3034393.581
2                    5635.92480  ...          3657027.836
3                    5632.25982  ...          2992000.375
4                    4033.95834  ...          3110000.908

[5 rows x 5 columns]

In [ ]:
X = sm.add_constant(X)
X.head()

   const  ...   Electricity - BTU
0    1.0  ...          3018973.368
1    1.0  ...          3034393.581
2    1.0  ...          3657027.836
3    1.0  ...          2992000.375
4    1.0  ...          3110000.908

[5 rows x 6 columns]

In [ ]:
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       GDP US$ Billions   R-squared:                       0.673
Model:                            OLS   Adj. R-squared:                  0.650
Method:                 Least Squares   F-statistic:                     29.29
Date:                Wed, 12 Aug 2020   Prob (F-statistic):           5.24e-16
Time:                        01:06:56   Log-Likelihood:                -687.35
No. Observations:                  77   AIC:                             1387.
Df Residuals:                      71   BIC:                             1401.
Df Model:                           5
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                         2.404e+04   9286.178      2.589      0.012    5525.487    4.26e+04
U.S. Aviation Gasoline - BTU    -1.1814      0.197     -6.011      0.000      -1.573      -0.790
Gasoline By Quarter - BTU       -0.0075      0.002     -3.585      0.001      -0.012      -0.003
Diesel By Quarter - BTU          0.0146      0.003      5.012      0.000       0.009       0.020
NatGAs by Quarter - BTU         -0.0016      0.000     -4.784      0.000      -0.002      -0.001
 Electricity - BTU               0.0022      0.001      2.190      0.032       0.000       0.004
==============================================================================
Omnibus:                        1.076   Durbin-Watson:                   0.604
Prob(Omnibus):                  0.584   Jarque-Bera (JB):                1.000
Skew:                          -0.088   Prob(JB):                        0.606
Kurtosis:                       2.470   Cond. No.                     2.96e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.96e+08. This might indicate that there are
strong multicollinearity or other numerical problems.